@keyframes toUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

/* containerVid */

.containerVid {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10000;
}
.containerVid > * {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.containerVid video {
  height: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  cursor: none;
}
.containerVid video::cue {
  color: #eee;
  z-index: 4;
  text-shadow: #222 0 0 5px;
  background: none;
}

/* Controles */

.controleVid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.2s ease-out;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    background: #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 1) 100%);
}
.controleVid .back {
    margin-bottom: auto;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
}
.controleVid .back div {
    display: flex;
    font-size: 20px;
    align-items: center;
    opacity: 0.3;
    transition: all 0.2s ease-out;
    overflow: hidden;
}
.controleVid .back div span {
    margin-left: -100%;
    opacity: 0;
    transition: all ease-out 0.2s;
}
.controleVid .back div:hover {
    opacity: 1;
    transform: translateX(-10px);
}
.controleVid .back div:hover span {
    margin-left: 0;
    opacity: 1;
}
.controleVid .back div svg {
    font-size: 35px;
    margin-right: 5px;
}
.controleVid .line-reproduction {
    display: flex;
    margin-bottom: 10px;
}
.controleVid .line-reproduction input {
    margin: auto;
}
.controleVid .line-reproduction span {
    font-size: 14px;
    margin-left: 5px;
}
.controleVid .controlls {
    margin: 20px 0;
    display: flex;
    justify-items: center;
}
.controleVid .controlls .end {
    margin-left: auto;
}
.controleVid .controlls .imgCvv {
    width: 4.5vw;
}
.controleVid .controlls div {
    display: flex;
    justify-items: center;
}
.controleVid .controlls .item-control {
    position: relative;
    margin: auto 15px;
}
.controleVid .controlls .info-video {
    font-size: 1.3vw;
    margin-top: 10px;
}
.controleVid .controlls .info-video .info-first {
    font-weight: bold;
    opacity: 1;
    margin-right: 5px;
}
.controleVid .controlls .info-video .info-secund {
    font-weight: lighter;
    opacity: 0.5;
}
.controleVid .controlls svg {
    cursor: pointer;
    opacity: 0.2;
    font-size: 1.5vw;
    transition: all 0.2s ease-out;
}
.controleVid .controlls svg:hover {
    opacity: 1;
    transform: scale(1.2);
}
.controleVid .progress-bar {
    width: 100%;
    margin-bottom: 15px;
    appearance: none;
    height: 3px;
    transition: height 0.2s ease-out;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.controleVid .progress-bar:focus {
    outline: none !important;
}
.controleVid .progress-bar::-moz-focus-outer {
    border: 0;
}
.controleVid .progress-bar::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.controleVid .progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ff9201;
    cursor: pointer;
    outline: none !important;
    border-color: transparent;
    border: 0 !important;
    box-shadow: none !important;
    box-sizing: none;
}
.controleVid .progress-bar::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ff9201;
    cursor: pointer;
    outline: none !important;
    border-color: transparent;
    border: 0 !important;
    box-shadow: none !important;
    box-sizing: none;
}
.controleVid .progress-bar:hover {
    height: 5px;
}


/* loading */

.loading {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  display: flex;
}
.loading div {
  display: flex;
  margin: auto;
}
.loading div div {
  animation: 1s linear toUpOpacity infinite;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff9201;
  margin: auto 5px;
}
.loading div div:nth-child(2) {
  animation-delay: 0.1s;
}
.loading div div:nth-child(3) {
  animation-delay: 0.2s;
}

/* standybyinfo */

.standybyinfo {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  transition: all 0.5s ease-out;
}
.standybyinfo section {
  margin: auto 0;
  padding-top: 100px;
  padding-left: 100px;
}
.standybyinfo section h3 {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.standybyinfo section h1 {
  font-weight: bold;
  font-size: 3em;
  color: #ff9201;
  margin: 10px 0;
}
.standybyinfo section h2 {
  color: #fff;
  font-size: 20px;
  margin-top: -5px;
  font-weight: bold;
}
.standybyinfo footer {
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-transform: uppercase;
  color: #fff;
}

/* videopreloading */

.videopreloading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
}
.videopreloading header {
  display: flex;
  color: #fff;
  align-items: center;
}
.videopreloading header h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
.videopreloading header h2 {
  color: #fff;
  font-size: 1.1em;
}
.videopreloading header svg {
  color: #fff;
  opacity: 0.5;
  margin-left: auto;
  font-size: 4em;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.videopreloading header svg:hover {
  transform: scale(1.2);
  opacity: 1;
}
.videopreloading section {
  text-align: center;
  color: #ddd;
  margin: auto;
  transition: all 0.2s ease;
}
.videopreloading section .links-error {
  display: inline-flex;
  margin: auto;
}
.videopreloading section .links-error div {
  color: #ddd;
  background: #333;
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.videopreloading section .links-error div:hover {
  background: #f78b28;
  color: #ddd;
}
.videopreloading section h1 {
  font-size: 2em;
}
.videopreloading section p {
  font-size: 1.5em;
  margin: 20px;
}


/* Volume Control */

.volumn-controll {
    bottom: 70px;
    left: -50px;
    position: absolute;
    transform: rotate(-90deg);
}
.volumn-controll .box {
    background: #222;
    padding: 10px 18px;
    border-radius: 5px;
}
.volumn-controll .box-connector {
    width: 20px;
}
.volumn-controll input {
    border: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #999;
    width: 70px;
}
.volumn-controll input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ff9201;
    cursor: pointer;
}
.volumn-controll input::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ff9201;
    cursor: pointer;
}


/* item play back rate */

.itemplaybackrate {
    cursor: pointer;
    font-weight: bold;
    max-width: 150px;
}
.itemplaybackrate > div:first-child {
    background: #333;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.itemplaybackrate > div:first-child .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}
.itemplaybackrate > div:first-child .item {
    background: #222;
    display: flex;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    flex-direction: row;
    align-items: center;
}
.itemplaybackrate > div:first-child .item:hover {
    background: #333;
}
.itemplaybackrate > div:first-child svg {
    font-size: 14px !important;
    margin-right: 5px;
}
.itemplaybackrate > div:first-child .bold {
    font-weight: bold;
}


/* Icon playback rate */

.iconplaybackrate {
    cursor: pointer;
    font-weight: bold;
}
.iconplaybackrate small {
    font-weight: lighter;
    font-weight: 10px;
}
.iconplaybackrate span {
    opacity: 0.2;
    font-size: 25px;
    transition: all 0.2s ease-out;
}
.iconplaybackrate span:hover {
    opacity: 1;
    transform: scale(1.2);
}


/* item Next */
.itemnext > div:first-child {
    background: #333;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
}
.itemnext > div:first-child .title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
}
.itemnext > div:first-child .item {
    background: #222;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.itemnext > div:first-child .item:hover {
    background: #333;
}
.itemnext > div:first-child .cover {
    width: 50%;
    padding: 10px;
}
.itemnext > div:first-child .columFlex {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.itemnext > div:first-child .bold {
    font-weight: bold;
}
.itemnext > div:first-child .btm {
    padding-bottom: 5px;
}


/* Item Control BAr */

.item-controlBar {
    bottom: 20px;
    right: -20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30vw;
}
@media only screen and (max-width: 768px) {
    .item-controlBar {
        width: 50vw;
    }
  }
.item-controlBar .box-connector {
    height: 20px;
    width: 100%;
}

/* Item list Reprodution */

.itemlistReprodution {
    max-width: 400px;
    overflow: hidden;
}
.itemlistReprodution > div:first-child {
    background: #333;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.itemlistReprodution > div:first-child .bold {
    font-weight: bold;
}
.itemlistReprodution > div:first-child .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}
.itemlistReprodution > div:first-child .list-list-reproduction {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
}
.itemlistReprodution > div:first-child .list-list-reproduction::-webkit-scrollbar-track {
    background-color: #222;
}
.itemlistReprodution > div:first-child .list-list-reproduction::-webkit-scrollbar {
    width: 8px;
}
.itemlistReprodution > div:first-child .list-list-reproduction::-webkit-scrollbar-thumb {
    background: #333;
}
.itemlistReprodution > div:first-child .list-list-reproduction .item-list-reproduction {
    background: #222;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    align-items: center;
}
.itemlistReprodution > div:first-child .list-list-reproduction .item-list-reproduction:hover {
    background: #333;
}
.itemlistReprodution > div:first-child .list-list-reproduction .item-list-reproduction .percent {
    height: 3px;
    width: 100px;
    margin-left: auto;
}
.itemlistReprodution > div:first-child .list-list-reproduction .selected {
    background: #333;
}


/* Item List Quality */


.itemlistQualiti {
    max-width: 200px;
    min-width: 200px;
}
.itemlistQualiti > div:first-child {
    font-size: 14px;
    background: #222;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.itemlistQualiti > div:first-child div {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.itemlistQualiti > div:first-child div:hover {
    background: #333;
}
.itemlistQualiti > div:first-child span {
    margin-right: 5px;
}
.itemlistQualiti > div:first-child span:nth-child(1) {
    font-weight: bold;
}
.itemlistQualiti > div:first-child svg {
    color: #f78b28;
    font-size: 2em;
    margin-left: auto;
}
